body {
    margin: 0;
    padding: 0;
}

#canvas {
    border: 1px solid #ccc;
    cursor: crosshair;
}
.material-symbols-outlined,
.material-icons {
    font-size: 16px;
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: fit-content;
    height: 560px;
    background-color: white;
    margin: 40px 40px 0 40px;
    padding: 20px;
    border-radius: 10px;
    gap: 1.25rem;
}

#size-slider {
    accent-color: lightpink;
}

#brush-colors {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
}

.brush-select {
    padding: 1rem;
    border-radius: 6px;

    &.black {
        background-color: #101010;

        &:hover {
            background-color: #4d4d4d;
        }
    }

    &.blue {
        background-color: lightskyblue;

        &:hover {
            background-color: #b6e1fc;
        }
    }

    &.yellow {
        background-color: gold;

        &:hover {
            background-color: #ffe44d;
        }
    }

    &.green {
        background-color: lightgreen;

        &:hover {
            background-color: #bdf5bd;
        }
    }

    &.purple {
        background-color: mediumpurple;

        &:hover {
            background-color: #b299e6;
        }
    }

    &.red {
        background-color: lightcoral;

        &:hover {
            background-color: #f4a4a4;
        }
    }
}

#canvas-container {
    width: 100%;
    padding: 40px 40px 40px 0;

    canvas {
        width: 1000px;
        height: 600px;
        border-radius: 10px;
        background-color: white;
    }
}
